rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Règles pour les visites
    match /visits/{document=**} {
      allow read: true;
      allow write: if true; // À restreindre plus tard avec authentification
    }
    
    // Règles pour les scores
    match /{game}_scores/{document} {
      allow read: true;
      allow write: if true; // À restreindre plus tard avec authentification
    }
  }
} 