/* Styles généraux pour le jeu */




header h1 {
    font-size: 2em;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.game-intro {
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px;
}

#game-container {
    text-align: center;
    margin: 20px 0;
}

#keyboard .enigma-keyboard {
    display: flex;
    justify-content: center;
    margin: 2px 0;
    margin-bottom: 0px;
}

button {
    padding: 7px;
    font-size: 1em;
    margin: 2px;
    cursor: pointer;
}

button.correct { background-color: #6aaa64; color: #fff; }
button.present { background-color: #c9b458; color: #fff; }
button.incorrect { background-color: #787c7e; color: #fff; }

